#feedback
{
    height: 420px;
    background: url('../images/footer.jpg') no-repeat center;
    position: relative;
    overflow: hidden;
}

@media(max-width:500px)
{
    #feedback
    {
        height: 500px;
    }
}

#feedback .bg
{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: .1s;
}

#feedback .bg img
{
    width: 100%;
}

@media(max-width:500px)
{
    #feedback .bg img
    {
        transform: translateX(0)!important;
        height: 100%;
        object-fit: cover;
    }
}

#feedback::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0,.5);
}

#feedback .wrapper
{
    position: absolute;
    width: 1100px;
    top: 100px;
    left: calc(50% - 550px);
    z-index: 4;

    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px 80px;
}

@media(max-width:1140px)
{
    #feedback .wrapper
    {
        width: 95%;
        left: 2.5%;
        grid-gap: 20px;
    }
}

@media(max-width:776px)
{
    #feedback .wrapper
    {
        grid-template-columns: 1fr;
        top: 20px;
    }    
}

@media(max-width:776px)
{
    .logo
    {
        display: block;
        margin: 0 0 10px;
    }
}

@media(max-width:500px)
{
    .logo
    {
        text-align: center;
    }
}


#feedback ul,
#feedback ol
{
    display: block; 
}

#feedback li
{
    margin: 0 0 20px;
    display: block;
}

@media(max-width:500px)
{
    #feedback li
    {
        text-align: center;
    }
}

#feedback li:last-child
{
    margin: 0;
}

#feedback li a
{
    color: var(--white);
    text-decoration: none;
}

#feedback form
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    align-items: center;
}

#feedback label
{
    font-weight: 700;
    font-size: 18px;
    font-family: inherit;
    position: absolute;
    top: -20px;
    cursor: pointer;
}

@media(max-width:500px)
{
    #feedback label
    {
        width: 100%;
        text-align: center;
        top: -25px;
    }
}

#feedback input
{
    font-family: inherit;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    height: 52px;
    width: 100%;
}

#feedback button
{
    font-weight: 700;
    font-size: 18px;
    background: var(--cyan);
    color: var(--white);
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 52px;
}

#contact
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:500px)
{
    #contact
    {
        display: block;
    }
}

#contact .social 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width:500px)
{
    #contact .social
    {
        margin: 20px 0 0;
        justify-content: center;
    }
}

#contact .social svg
{
    width: 32px;
    height: 32px;
    fill: var(--cyan);
    transition: .5s;
}

#contact .social a:hover svg
{
    fill: var(--white);
}