

*,
::after,
::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --black: #000;
    --dark: #13162b;
    --cyan: #3fb8bd;
    --gray: #ccc;
    --gray-dark: #818181;
    --light: #f4f8fb;
}

body
{
    font-family: sans-serif;
    color: var(--black);
    overflow-x: hidden;
}

body.overflow
{
    overflow-y: hidden;
}

#cover
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
    z-index: 5;
}

img
{
    max-width: 100%!important;
    height: auto;
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px)
{
    .wrapper
    {
        width: 95%;
    }
}

h1
{
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    transform: scaleX(.8);
}

@media(max-width:776px)
{
    h1
    {
        font-size: 40px;
    }
}

@media(max-width:500px)
{
    h1
    {
        font-size: 30px;
    }
}