

*,
::after,
::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --black: #000;
    /* --dark: #202020; */
    --dark: #13162b;
    --cyan: #3fb8bd;
    --gray: #ccc;
    --gray-dark: #818181;
    --light: #f4f8fb;
    /* #13162b */
}

body
{
    font-family: sans-serif;
    color: var(--black);
    overflow-x: hidden;
}

img
{
    max-width: 100%!important;
    height: auto;
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px)
{
    .wrapper
    {
        width: 95%;
    }
}

h1
{
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    transform: scaleX(.8);
}